<!-- prettier-ignore -->
{% extends "_layouts/default.html" %}

{% block title %}Manage Tag Categories{% endblock %}

{% block content %}
{% include "_partials/navbar.html" %}

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Color</th>
			<th>Created Time</th>
			<th>Created By</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for tag_cat in tag_categories %}
		<tr>
			<td>{{tag_cat.name}}</td>
			<td style="max-width: 10em; overflow: hidden; text-overflow: ellipsis">
				{%- if let Some(description) = tag_cat.description -%}
					{{description}}
				{%- else -%}
					(none)
				{%- endif -%}
			</td>
			<td style="text-decoration: underline {{tag_cat.color.to_hex()}}">{{tag_cat.color.to_hex()}}</td>
			<td>{{tag_cat.created_time}}</td>
			<td>
				{%- if let Some(created_by) = tag_cat.created_by -%}
					{{created_by}}
				{%- else -%}
					(deleted)
				{%- endif -%}
			</td>
			<td><a href="/admin/tag_categories/{{tag_cat.id}}">Edit</a></td>
			{# don't forget the page when deleting a tag category #}
			<td><form method="post" action="/admin/tag_categories/{{tag_cat.id}}/delete{{pagination.href()}}"><input type="submit" value="Delete"></form></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{{pagination|safe}}

<form method="post">
	<h2>New</h2>
	<label for="name">Name</label>
	<input type="text" required name="name" id="name" />
	<label for="description">Description</label>
	<input type="text" name="description" id="description" />
	<label for="color">Color</label>
	<input type="color" name="color" id="color" />
	<input type="submit" value="Create" />
</form>

{% include "_partials/run_sql.html" %}

{% endblock %}
