<!-- prettier-ignore -->
{% extends "_layouts/default.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
{% include "_partials/navbar.html" %}

{% if updated %}
<p>Updated the user</p>
{% endif %}

<h1>Edit User</h1>
<form method="post">
	<label for="user_id">User ID</label>
	<input type="number" id="user_id" disabled value="{{requested_user.id}}" />
	<label for="username">Username</label>
	<input type="text" id="username" name="username" value="{{requested_user.username}}" required />
	<label for="password">Password</label>
	<input type="password" id="password" name="password" value="" autocomplete="new-password" placeholder="(unchanged)" />
	<label for="email">Email</label>
	<input type="email" id="email" name="email" value="{{requested_user.email.as_deref().unwrap_or("")}}" placeholder="No email" />
	<label for="role">Role</label>
	<select id="role" name="role" required>
		{{requested_user.role.display_options()|safe}}
	</select>
	{% if requested_user.id == self_user.id -%}
		<p class="form-warning">Watch out! Lowering your role will lock you out of this page.</p>
	{%- endif %}
	<label for="created_time">Created Time</label>
	<div id="created_time" class="input-group">
		<input type="date" disabled value="{{requested_user.created_time.date().format(crate::timestamp::html_date::FORMAT)}}" />
		<input type="time" disabled value="{{requested_user.created_time.time().format("%T")}}" />
	</div>
	<div class="input-group">
		<input type="submit" value="Edit" />
		<input type="reset" value="Reset" />
	</div>
</form>

{% endblock %}
