:root {
	--space-large: 2rem;
	--space-medium: 1rem;
	--space-small: 0.3rem;
}

body {
	margin: var(--space-medium);
}

footer#license-notice {
	font-size: small;
	margin-top: var(--space-large);
	border-top: 1px solid gray;
}

form > label + input:not([type="checkbox"]),
form > label + select,
form > label + textarea,
form > label + div.input-group {
	display: block;
	margin-bottom: var(--space-medium);
}

button,
input:not([type="checkbox"]),
select {
	padding: var(--space-small);
}

.error-banner {
	color: red;
}

nav#navbar {
	display: flex;
	margin: calc(-1 * var(--space-medium));
	padding: var(--space-medium);
	margin-bottom: var(--space-medium);
	border-bottom: 1px solid black;
	gap: var(--space-medium);
}

nav#navbar > div.spacer {
	flex: 1;
}

nav#navbar a {
	color: inherit;
}

.form-warning {
	font-size: small;
	color: red;
}
