/* palette: https://coolors.co/palette/335c67-fff3b0-e09f3e-9e2a2b-540b0e */

:root {
	--space-large: 2rem;
	--space-medium: 1rem;
	--space-small: 0.3rem;

	--accent-primary: #e0ab77;
	--foreground-on-primary: #000;
	--accent-secondary: #7b7fbd;
	--foreground-on-secondary: #fff;
}

body {
	margin: var(--space-medium);
}

footer#license-notice {
	font-size: small;
	margin: var(--space-medium);
	margin-top: var(--space-large);
	border-top: 1px solid gray;
}

form > label ~ input:not([type="checkbox"]) {
	display: block;
	margin-bottom: var(--space-medium);
}

button,
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="search"] {
	padding: var(--space-small);
}

.error-banner {
	color: red;
}

nav#navbar {
	display: flex;
	margin: calc(-1 * var(--space-medium));
	padding: var(--space-medium);
	margin-bottom: 0;
	background-color: var(--accent-primary);
	color: var(--foreground-on-primary);
	gap: var(--space-medium);
}

nav#navbar > div.spacer {
	flex: 1;
}

nav#navbar a {
	color: inherit;
}
