<!-- prettier-ignore -->
{% extends "layouts/default.html" %}

{% block title %}Home{%endblock %}

{% block content %}
{% include "partials/navbar.html" %}

{% if search_results.is_none() -%}
	<h1>Hello, {{self_user.username}} ({{self_user.role}})</h1>
{%- endif %}

<form method="get">
	<input type="hidden" name="page_size" value="{{page_size}}" />
	<label for="search">Query:</label>
	<input type="search" id="search" name="search" placeholder="tag & !other tag" />
	<input type="submit" value="Search" />
</form>

{% if let Some(search_results) = search_results -%}
	<ul>
		{% for (id, name) in search_results -%}
			<li><a href="/files/{{id}}">{{name}}</a></li>
		{%- endfor %}
	</ul>

	{# I would compare inside `map` but can't use closures due to the pipe character #}
	{% if i64::try_from(search_results.len()).unwrap_or(i64::MAX) >= page_size -%}
		{%- if let Some((last_id, _)) = search_results.last() -%}
			<form method="get">
				<input type="hidden" name="after" value="{{last_id}}">
				<input type="hidden" name="page_size" value="{{page_size}}" />
				<input type="submit" value="Next Page" />
			</form>
		{%- endif -%}
	{%- endif %}
{%- endif %}
{% endblock %}
