<!-- prettier-ignore -->
{% extends "_layouts/default.html" %}

{% block title %}Register{% endblock %}

{% block content %}

{% if let Some(message) = error %}
<header class="error-banner"><em>Error: {{message}}</em></header>
{% endif %}

<h1>Register</h1>

<form method="post">
	<label for="username">Username</label>
	<input type="text" id="username" name="username" autocomplete="username" required />
	<label for="password">Password</label>
	<input type="password" id="password" name="password" autocomplete="new-password" required />
	<label for="confirm-password">Confirm Password</label>
	<input type="password" id="confirm-password" name="confirm_password" autocomplete="new-password" required />
	<label for="email">Email (optional)</label>
	<input type="email" id="email" name="email" autocomplete="email" />
	<input type="submit" value="Register" />
</form>

<p>
	Already have an account?
	<a href="/login{% if let Some(return_url) = return_url %}?return={{return_url}}{% endif %}">Log in</a>
</p>
{% endblock %}
