:root {
	--space-large: 2rem;
	--space-medium: 1rem;
	--space-small: 0.3rem;
}

body {
	margin: var(--space-medium);
}

footer#license-notice {
	font-size: small;
	margin-top: var(--space-large);
	border-top: 1px solid gray;
}

form > label + input:not([type="checkbox"]),
form > label + select,
form > label + textarea,
form > label + div.input-group {
	display: block;
	margin-bottom: var(--space-medium);
}

form > input[type="submit"],
form > input[type="reset"] {
	display: inline-block;
}

button,
input:not([type="checkbox"]),
select {
	padding: var(--space-small);
}

.error-banner {
	color: red;
}

nav#navbar {
	display: flex;
	margin: calc(-1 * var(--space-medium));
	padding: var(--space-medium);
	margin-bottom: var(--space-medium);
	border-bottom: 1px solid black;
	gap: var(--space-medium);
}

nav#navbar > div.spacer {
	flex: 1;
}

nav#navbar a {
	color: inherit;
}

.form-warning {
	font-size: small;
	color: red;
}

#file-embed {
	max-width: 100%;
}

.error-block {
	background: #eee;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.error-block__error {
	color: red;
}

.error-block__note {
	color: dodgerblue;
}

.error-block__comment-span {
	display: inline-block;
	position: relative;
}

.error-block__comment {
	display: inline-block;
	position: absolute;
	top: 1rem;
	left: 0;
}
